		body{padding: 0; margin: 0;}
		.header{
			background-color: #adad85;
			padding: 20px 0;
			width: 100%;
			}

		.header img{
			position: relative;
			border-radius: 50%;
			top: 20px;
			}
		.header h1{
			position: relative;
			top: 0px;
			font-size: 50px;
			color:  #006bb3;
			left: 150px;

		}
		.nav{
			position: sticky;
			top: 0;
			float: left;
			padding: 10px 0;
			background-color: black;
			width: 100%;
			display: inline-block;
		}
		nav li{  
			display: inline-block;
			color: white;
			
		}
		nav li a{
			position: relative;
			top: 8px;
			text-decoration: none;
			color: white;
			padding: 20px 25px;
			align-content: center;
		}

		nav li a:hover{
			background-color:  #adad85;
			color: black;
		}
		.active-contactUs{
			background-color:  #adad85;
			color: black;
		}
		.search{
			position: relative;
			float: right;
		}
		.search .search-input{
			position: relative;
			padding: 10px;
			border-radius: 10px;
			top: 0;
			right: 50px;
			outline: none;
			border: none;
			margin: 0;
		}

		.search .search-input:hover{
			background-color: #adad85;
		}
		.search .search-btn{
			position: relative;
			padding: 10px;
			border-radius: 10px;
			top: 0;
			right: 50px;
			outline: none;
			border: none;
			margin: 0;
			background-color: #61dafb;
		}
		.search .search-btn:hover{
			cursor: pointer;
		}
		.contactUs-body{
			font:bold 20px sans-serif;
		}

		.contactUs-body input{
			border-radius: 5px;
			border: 2px solid black;
			height: 25px;
		}

		.contactUs-form{
			background:url("webss.png");
			background-repeat:no-repeat;
		}



		.contactUs-form h1{
			padding: 50px 0 10px 0;
		}
		.contactUs-body .input::placeholder{
			position: relative;
			left: 20px;
		}

		.contactUs-body textarea{
			border-radius: 5px;
			border: 2px solid black;	
		}

		.contactUs-body .button{
			background-color: #006bb3;
			color: white;
			border-radius: 5px;
			height: 40px;
			width: 100px;
			border:none;
		}